# Large simulation result files (>100MB) - kept local only
Front Rotor - Sophie/Front Rotors Gen Xi - version 2 spring 2026-Cycle.CWR
Front Rotor - Sophie/Front Rotors Gen Xi - version 2 spring 2026-Cycle.HTQ
Front Rotor - Sophie/Front Rotors Gen Xi - version 2 spring 2026-1G Braking.CWR
Front Rotor - Sophie/Front Rotors Gen Xi - version 2 spring 2026-Downhill.HTO
Front Rotor - Sophie/Front Rotors Gen Xi - version 2 spring 2026-Downhill.CWR
Front Rotor - Sophie/Front Rotors Gen Xi - version 2 spring 2026-Downhill.HTQ
